* {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a {
  text-decoration: none;
}

.app-location h2 {
  color: #000;
  text-align: center;
  padding: 1em 0;
  font-size: 24px;
  font-weight: 300;
}
.app-location {
  width: 315px;
  height: 350px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ccc;
}
.location {
  padding: 1em 0;
}
.line {
  position: relative;
}
.line span {
  position: absolute;
  top: 10%;
  left: 39%;
  background: #5b5c61;
  height: 1px;
  width: 20%;
}
form {
  padding: 0% 1%;
}
.location img {
  margin: 2em 0;
}
.app-location input[type="text"],
.app-location input[type="password"] {
  width: 228px;
  height: 43px;
  color: #ccc;
  padding: 1.1em 1em 1.1em 4em;
  border: 1px solid #000;
  font-size: 16px;
  outline: none;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
}
.submit {
  margin: 1em 0 1em 2px;
}
.app-location input[type="submit"] {
  width: 228px;
  height: 43px;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: 1px solid #8b6fa9;
  background: #8b6fa9;
  border-radius: 0.3em;
}

.new {
  margin-left: 40px;
  margin-top: -10px;
  width: 228px;
}
.new h3 {
  float: left;
}
.new h3 a,
.new h4 a {
  color: #000;
  font-weight: 400;
  font-size: 14px;
}
.new h3 a:hover,
.new h4 a:hover {
  text-decoration: underline;
}
.new h4 {
  float: right;
}
